@import 'bulma/css/bulma.css';

:root {
    --gradient: linear-gradient(90deg, rgba(75,0,130,1) 0%, rgba(177,6,140,1) 100%);
} */

* {
    margin: 0;
}

html {
    font-family: system-ui, sans-serif;
    background: var(--gradient);
}

body {
}