---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Contact'>

    <div class="tile is-ancestor">
        <!-- The tile that all the content will be in. -->
        <div class="tile is-vertical tile-center">

            <!-- Tile for the management staff START-->
            <div class="is-4 tile is-parent is-vertical tile-center tile-background">
                <h1>Ledning</h1>

                <!-- Tile for the principle Viktor -->
                <div class="tile is-child is-vertical tile-center">
                    <img src="" alt="">
                    <h2>Viktor Drevenstam</h2>
                    <h3>Rektor</h3>
                </div>

            </div>
            <!-- Tile for the management staff END-->

            <!-- Tile for administration staff START -->
            <div class="tile is-parent is-vertical tile-center tile-background">
                <h1>Administration</h1>

                <!-- Tile is used to get staff members to lie horzontaly next to eachother. -->
                <!-- Horizontal tile START -->
                <div class="tile is-parent is-horizontal">

                    <div class="tile is-child is-vertical tile-center is-6">
                        <img src="" alt="">
                        <h2>Anders Pettersson</h2>
                        <h3>Administratör</h3>
                        <h3>072-529 44 59</h3>
                        <h3>anders.pettersson@ntig.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-6">
                        <img src="" alt="">
                        <h2>Elisabeth</h2>
                        <h3>Lokal Vårdare</h3>
                    </div>

                </div>
                <!-- Horizontal tile END -->

            </div>
            <!-- Tile for administration staff END -->

            <!-- Tile for student health staff START -->
            <div class="tile is-parent is-vertical tile-center tile-background">
                <h1>Elevhälsa</h1>

                <!-- Several Rows are used to get 3 staff members per row. -->
                <!-- Horizontal tile Row 1 START -->
                <div class="tile is-parent is-horizontal">
                    
                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Ehsan Rahmani</h2>
                        <h3>Mentor EE och ES</h3>
                        <h3>072-236 93 70</h3>
                        <h3>ehsan.rahmani@ntig.se</h3>
                    </div>
                    
                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Emil Norén</h2>
                        <h3>Kurator</h3>
                        <h3>072-236 72 83</h3>
                        <h3>emil.noren@ntig.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Fredrik Artan</h2>
                        <h3>Specialpedagog</h3>
                        <h3>076-141 75 66</h3>
                        <h3>fredrik.artan@ntig.se</h3>
                    </div> 

                </div>
                <!-- Horizontal tile Row 1 END -->

                <!-- Horizontal tile Row 2 START -->
                <div class="tile is-parent is-horizontal">
                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Johnny Olsson</h2>
                        <h3>Elevassistent</h3>
                        <h3>072-529 44 59</h3>
                        <h3>johnny.olsson@ntig.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Lina Karlsson</h2>
                        <h3>Skolsköterska</h3>
                        <h3>076-145 76 03</h3>
                        <h3>linamaria.karlsson@ntig.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Selinda Hedin</h2>
                        <h3>Specialpedagog/SYV</h3>
                        <h3>selinda.hedin@ntig.se</h3>
                    </div>
                </div>
                <!-- Horizontal tile Row 2 END -->

            </div>
            <!-- Tile for student health staff START -->

            <!-- Tile for teaching staff START -->
            <div class="tile is-parent is-vertical tile-center tile-background">
                <h1>Lärare</h1>

                <!-- Horizontal tile Row 1 START -->
                <div class="tile is-parent is-horizontal">

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Andreas ANKA Karlsson</h2>
                        <h3>Engelska och E-sport</h3>
                        <h3>andreas.karlsson@ntig.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Andreas Fritiofsson</h2>
                        <h3>Svenska</h3>
                        <h3>andreas.fritiofsson@ntig.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Andreas Wahlstedt</h2>
                        <h3>Programmering</h3>
                        <h3>andreas.wahlstedt@ntig.se</h3>
                    </div>

                </div>
                <!-- Horizontal tile Row 1 END -->

                <!-- Horizontal tile Row 2 START -->
                <div class="tile is-parent is-horizontal">

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Frans Öyan</h2>
                        <h3>Matematik, Engelska och NO</h3>
                        <h3>frans.oyan@ntig.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Gustaf Lagerwall</h2>
                        <h3>Musiklärare</h3>
                        <h3>gustaf.lagerwall@ntig.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Hanna Hörling</h2>
                        <h3>Samhällskunskap, Historia och Religion</h3>
                        <h3>072-236 93 70</h3>
                        <h3>hanna.horling@ntig.se</h3>
                    </div>

                </div>
                <!-- Horizontal tile Row 2 END -->

                <!-- Horizontal tile Row 3 START -->
                <div class="tile is-parent is-horizontal">

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Jacob Farnsworth</h2>
                        <h3>Programmering</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Jessica Dimming</h2>
                        <h3>Estet</h3>
                        <h3>jessica.dimming@ntig.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Johanna Kristensen</h2>
                        <h3>Mentor TE</h3>
                        <h3>072-236 93 70</h3>
                        <h3>johanna.kristensen@ntig.se</h3>
                    </div>

                </div>
                <!-- Horizontal tile Row 3 END -->

                <!-- Horizontal tile Row 4 START -->
                <div class="tile is-parent is-horizontal">

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Lars Abrahamsson</h2>
                        <h3>EE-ämnen</h3>
                        <h3>lars.abrahamsson@ntig.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Magnus Berglund</h2>
                        <h3>EE-ämnen</h3>
                        <h3>magnus.berglund@ntigl.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Markus Kaczmarek</h2>
                        <h3>Musiklärare</h3>
                        <h3>markus.kaczmarek@ntig.se</h3>
                    </div>

                </div>
                <!-- Horizontal tile Row 4 END -->

                <!-- Horizontal tile Row 5 START -->
                <div class="tile is-parent is-horizontal">

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Mikael Sund</h2>
                        <h3>Matematik och Fysik</h3>
                        <h3>mikael.sund@ntig.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Mohammadreza REZA Pakmehr</h2>
                        <h3>Nätverksämnen</h3>
                        <h3>072-236 93 70</h3>
                        <h3>mohammadreza.pakmehr@ntig.se</h3>
                    </div>

                    <div class="tile is-child is-vertical tile-center is-4">
                        <img src="" alt="">
                        <h2>Robert Jönsson</h2>
                        <h3>Idrott, Estet & Entreprenörsskap</h3>
                        <h3>robert.jonsson@ntig.se</h3>
                    </div>

                </div>
                <!-- Horizontal tile Row 5 END -->

            </div>
            <!-- Tile for teaching staff END -->
        </div>
    </div>

</Layout>

<style>
    .is-ancestor{
        margin: 0;
        margin-top: 20px;
    }
    .is-parent{
        margin-top: 20px;
    }
    .is-child{
        padding: 5px;
    }

    .tile-center{
        align-items: center;
        text-align: center;
    }
    .tile-background{
        background-color: white;
        border-radius: 20px;
    }

    img{
        max-width: 200px;
        max-height: 200px;
        border-radius: 10px;
    }
</style>
