<!-- Code for the feed page. -->

---
import Layout from '../layouts/Layout.astro';
import Pagination from '../components/Pagination.astro';
import Card from '../components/Card.astro';

import '../styles/feed.css';
---

<Layout title="NTI Karlstad Elevwebb">
    <div class="container">
        <h1 class="has-text-weight-bold is-size-1">Inlägg</h1>
        <div class="feed is-flex is-flex-direction-column">
            
            <Card title="3D Printers" program="Teknik" avatar="https://lh3.googleusercontent.com/a-/ALV-UjUShg03hH1uRuR2d6KulM9ZLqYC-iPRBO-rgYtKUvXv3g" poster="https://phosphor.utils.elfsightcdn.com/?url=https%3A%2F%2Finstagram.fogl4-1.fna.fbcdn.net%2Fv%2Ft39.30808-6%2F401753870_18298851964135245_1968877936721852980_n.jpg%3Fstp%3Ddst-jpg_e35_s1080x1080_sh0.08%26_nc_ht%3Dinstagram.fogl4-1.fna.fbcdn.net%26_nc_cat%3D109%26_nc_ohc%3DZzD8O-9lbbMAX-aPRbS%26edm%3DAPU89FAAAAAA%26ccb%3D7-5%26oh%3D00_AfCut-kLpQFoWnLr54_NjlbmrNI_tDQdgefCijha1MK1pw%26oe%3D656CCAA0%26_nc_sid%3Dbc0c2c">
                <p slot="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                    <a href="#">#css</a> <a href="#">#responsive</a>
                </p>
            </Card>

            <Card title="3D Printers" program="Teknik" avatar="https://lh3.googleusercontent.com/a-/ALV-UjUShg03hH1uRuR2d6KulM9ZLqYC-iPRBO-rgYtKUvXv3g" poster="https://phosphor.utils.elfsightcdn.com/?url=https%3A%2F%2Finstagram.fogl4-1.fna.fbcdn.net%2Fv%2Ft39.30808-6%2F401753870_18298851964135245_1968877936721852980_n.jpg%3Fstp%3Ddst-jpg_e35_s1080x1080_sh0.08%26_nc_ht%3Dinstagram.fogl4-1.fna.fbcdn.net%26_nc_cat%3D109%26_nc_ohc%3DZzD8O-9lbbMAX-aPRbS%26edm%3DAPU89FAAAAAA%26ccb%3D7-5%26oh%3D00_AfCut-kLpQFoWnLr54_NjlbmrNI_tDQdgefCijha1MK1pw%26oe%3D656CCAA0%26_nc_sid%3Dbc0c2c">
                <p slot="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                    <a href="#">#css</a> <a href="#">#responsive</a>
                </p>
            </Card>

            <Card title="3D Printers" program="Teknik" avatar="https://lh3.googleusercontent.com/a-/ALV-UjUShg03hH1uRuR2d6KulM9ZLqYC-iPRBO-rgYtKUvXv3g" poster="https://phosphor.utils.elfsightcdn.com/?url=https%3A%2F%2Finstagram.fogl4-1.fna.fbcdn.net%2Fv%2Ft39.30808-6%2F401753870_18298851964135245_1968877936721852980_n.jpg%3Fstp%3Ddst-jpg_e35_s1080x1080_sh0.08%26_nc_ht%3Dinstagram.fogl4-1.fna.fbcdn.net%26_nc_cat%3D109%26_nc_ohc%3DZzD8O-9lbbMAX-aPRbS%26edm%3DAPU89FAAAAAA%26ccb%3D7-5%26oh%3D00_AfCut-kLpQFoWnLr54_NjlbmrNI_tDQdgefCijha1MK1pw%26oe%3D656CCAA0%26_nc_sid%3Dbc0c2c">
                <p slot="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                    <a href="#">#css</a> <a href="#">#responsive</a>
                </p>
            </Card>

            <Card title="3D Printers" program="Teknik" avatar="https://lh3.googleusercontent.com/a-/ALV-UjUShg03hH1uRuR2d6KulM9ZLqYC-iPRBO-rgYtKUvXv3g" poster="https://phosphor.utils.elfsightcdn.com/?url=https%3A%2F%2Finstagram.fogl4-1.fna.fbcdn.net%2Fv%2Ft39.30808-6%2F401753870_18298851964135245_1968877936721852980_n.jpg%3Fstp%3Ddst-jpg_e35_s1080x1080_sh0.08%26_nc_ht%3Dinstagram.fogl4-1.fna.fbcdn.net%26_nc_cat%3D109%26_nc_ohc%3DZzD8O-9lbbMAX-aPRbS%26edm%3DAPU89FAAAAAA%26ccb%3D7-5%26oh%3D00_AfCut-kLpQFoWnLr54_NjlbmrNI_tDQdgefCijha1MK1pw%26oe%3D656CCAA0%26_nc_sid%3Dbc0c2c">
                <p slot="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                    <a href="#">#css</a> <a href="#">#responsive</a>
                </p>
            </Card>
        </div>
        <Pagination/>
    </div>
</Layout>
<style>
    .feed {
        gap: 2rem;
        align-items: center;
        margin: 50px 0;
    }

    .container > h1 {
        text-align: center;
        color: #fff;
    }
</style>