---
import Layout from '../layouts/Layout.astro';

import '../styles/index.css';
---

<Layout title="NTI Karlstad Elevwebb">
	<section class="hero">
		<div class="hero-body">
			
			<h1>NTI Karlstad Elevwebb</h1>
		</div>
	</section>
</Layout>