---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="NTI Karlstad Elevwebb">
	<h1>NTI Gymnasiet Karlstad Elevwebb</h1>
	<style>
		h1 {
			font-weight: bold;
			font-size: 2rem;
			color: #eee;
			text-align: center;
		}
	</style>
</Layout>