<!-- Code for the education programs page. -->

<!-- Imports the Layout component. -->
---
import Layout from '../layouts/Layout.astro';
---
<Layout title='Program'>

    <div class="tile is-ancestor">
        <div class="tile is-vertical">
            <div class="tile is-parent is-horizontal">
                <div class="tile is-parent is-4 tile-margin">
                    <a href="https://ntigymnasiet.se/karlstad/program/teknikprogrammet/informations-och-medieteknik/" class="tile is-child box has-text-centered">
                        Teknik
                    </a>
                </div>
                <div class="tile is-parent is-4 tile-margin">
                    <a href="https://ntigymnasiet.se/karlstad/program/estetiska-programmet/estetik-och-media/" class="tile is-child box has-text-centered">
                        Musik
                    </a>
                </div>
                <div class="tile is-parent is-4 tile-margin">
                    <a href="https://ntigymnasiet.se/karlstad/program/estetiska-programmet/musik/" class="tile is-child box has-text-centered">
                        Design & media
                    </a>
                </div>
            </div>
            <div class="tile is-parent is-vertical tile-center tile-margin">
                <a href="https://ntigymnasiet.se/karlstad/program/el-och-energiprogrammet/dator-och-kommunikationsteknik/" class="tile is-4 is-child box has-text-centered  ">
                    El
                </a>
            </div>
        </div>
    </div>

</Layout>

<style>
    .is-ancestor{
        margin: 0;
        width: 100%;
    }
    .is-parent{
        padding: 0;
    }
    .title{
        color: black;
    }
    .tile-center{
        align-items: center;
    }
    .tile-margin{
        /* margin-top: 20px; */
        padding: 10px;
    }
    p{
        text-align: center;
    }

</style>