---
import Layout from '../layouts/Layout.astro';
import Tiles from '../components/Tiles.astro'
---
<Layout title='Program'>
    <section>
        <Tiles>
            
        </Tiles>
    </section>
</Layout>