---
import "../styles/Header.scss"
---
<header>
  
<script>
  import "../scripts/Header.js"
</script>

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/favicon.png" alt="">
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <div class="navbar-item">
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="has-background-primary">
          <a href="#"><h2 class="has-text-centered">Inlägg</h2></a>
        </div>
        <div class="has-background-info">
          <a href="/program"><h2 class="has-text-centered">Program</h2></a>
        </div>
        <div class="has-background-info">
          <a href="#"><h2 class="has-text-centered">Kontakt</h2></a>
        </div>
        <div class="has-background-info">
          <a href="#"><h2 class="has-text-centered">Om Oss</h2></a>
        </div>
        <div class="has-background-info">
          <a href="#"><h2 class="has-text-centered">Login</h2></a>
        </div>
      </div>
    </div>
  </div>
</nav>

<style>
  .navbar-item{
    gap: 20px;
  }
</style>


</header>
