---
import "../styles/Header.css"
---
<header>
    <!-- <section class="navbar-brand left">
        <img src="/favicon.png" alt="">
    </section>
    <section class="navbar-menu navbar-end right">    
        <figure class="info-svg">

        </figure>
    </section>
    <div class="navbar-burger">
        <img src="/favicon.png" alt="">
    </div> -->

    <!-- <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="/favicon.png" alt="">
        </div>
    </nav> -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="/favicon.png" alt="">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        
        <div class="navbar-menu"></div>
      </nav>
</header>
