<!-- Gives a header link an active class when the loaded page corresponds to that link
    The active class puts a background color on the link highlighting it and making it clear what page/link one is on. -->

---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
//const isActive = href === pathname || href === pathname.replace(/\/$/, '');
const isActive = href === pathname || href === pathname.split('/').slice(0,2).join('/');
---

<a href={href} class:list={[className, isActive ? "has-background-primary" : {  }]} {...props}>
    <slot />
</a>
<style>
    a {
        display: inline-block;
        text-decoration: none;
        border-radius: 5px;
    }
    a.active {
        font-weight: bolder;
    }
</style>