---
import "../styles/Header.scss"

import HeaderLink from "./HeaderLink.astro";
---
<header>
  
<script>
  import "../scripts/Header.js"
</script>

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/favicon.png" alt="">
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <div class="navbar-item">
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="">
          <HeaderLink class="" href="/feed">Inlägg</HeaderLink>
        </div>
        <div class="">
          <HeaderLink href="/program">Program</HeaderLink>
        </div>
        <div class="">
          <HeaderLink href="/contact">Kontakt</HeaderLink>
        </div>
        <div class="">
          <HeaderLink href="/about">Om Oss</HeaderLink>
        </div>
        <div class="">
          <HeaderLink href="/login">Login</HeaderLink>
        </div>
      </div>
    </div>
  </div>
</nav>

<style>
  .navbar-item{
    gap: 20px;
  }
</style>


</header>
